<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoodleComics_20k1688_20i0665"
        tools:targetApi="31">
        <activity
            android:name=".CreateTemplate"
            android:exported="false" />
        <activity
            android:name=".StartDoodlingTemplate"
            android:exported="false" />
        <activity
            android:name=".ChooseTemplates"
            android:exported="false" />
        <activity
            android:name=".ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".EditComic"
            android:exported="false" />
        <activity
            android:name=".MyComic"
            android:exported="false" />
        <activity
            android:name=".CollaborationCreateComic"
            android:exported="false" />
        <activity
            android:name=".CollaborationCreateComicStrip"
            android:exported="false" />
        <activity
            android:name=".RemixComic"
            android:exported="false" />
        <activity
            android:name=".ComicStrip"
            android:exported="false" />
        <activity
            android:name=".FilterSearch"
            android:exported="false" />
        <activity
            android:name=".ComicSearchResultDisplay"
            android:exported="false" />
        <activity
            android:name=".FilteredByDate"
            android:exported="false" />
        <activity
            android:name=".FilterByPopularity"
            android:exported="false" />
        <activity
            android:name=".SearchByArtist"
            android:exported="false" />
        <activity
            android:name=".SearchByTitle"
            android:exported="false" />
        <activity
            android:name=".SearchByGenre"
            android:exported="false" />
        <activity
            android:name=".RemixComicStrip"
            android:exported="false" />
        <activity
            android:name=".ComicChallenge"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Collaboration"
            android:exported="false" />
        <activity
            android:name=".CreateNewComic"
            android:exported="false" />
        <activity
            android:name=".Notifications"
            android:exported="false" />
        <activity
            android:name=".Templates"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordVerificationCode"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".LoginWithNumber"
            android:exported="false" />
        <activity
            android:name=".LoginWithEmail"
            android:exported="false" />
        <activity
            android:name=".LoginWithUsername"
            android:exported="false" />
        <activity
            android:name=".LoginOptions"
            android:exported="false" />
        <activity
            android:name=".VerifyOTP"
            android:exported="false" />
        <activity
            android:name=".SignUpWithUsername"
            android:exported="false" />
        <activity
            android:name=".SignUpWithNumber"
            android:exported="false" />
        <activity
            android:name=".SignUpWithEmail"
            android:exported="false" />
        <activity
            android:name=".CreateYourAccount"
            android:exported="false" />
        <activity
            android:name=".SplashScreen_01"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>